
<div class="page-wrapper">
  <!-- End .header -->
  <main class="main mt-2 ">
    <div class="page-content ">
      <!-- End .container -->
      <div class="container-fluid ">
  <!--      <h3 class=" text-center mb-3">Les enseignes les plus populaires</h3> End .title mb-2 -->
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4" >
            <div class="banner">
              <a [routerLink]="['/catalogues/5ff2ee2b7c4efa103da87492/enseigne/Super U']"  >
                <img src="../../assets/assets/images/image6.jpg" alt="Banner" style="width:100%;height:100%;background-size: cover;">
              </a>
            </div><!-- End .banner -->
          </div><!-- End .col-md-6 -->
          <div class="col-md-6 col-lg-4" >
            <div class="banner">
              <a  [routerLink]="['/catalogues/5ff2da217c4efa103da8747b/enseigne/Aldi']" >
                <img src="../../assets/assets/images/image1.jpg" alt="Banner" style="width:100%;height:100%;background-size: cover;">
              </a>
            </div><!-- End .banner -->
          </div><!-- End .col-md-6 -->
          <div class="col-md-6 col-lg-4" >
            <div class="banner">
              <a  [routerLink]="['/catalogues/5fe9dc3bb8e1755d1b3f9c0b/enseigne/Auchan']"  >
                <img src="../../assets/assets/images/image2.jpg" alt="Banner" style="width:100%;height:100%;background-size: cover;">
              </a>
            </div><!-- End .banner -->
          </div><!-- End .col-md-6 -->
          <div class="col-md-6 col-lg-4" >
            <div class="banner">
              <a  [routerLink]="['/catalogues/5ff20e487c4efa103da87441/enseigne/carrefour']"   >
                <img src="../../assets/assets/images/image3.jpg" alt="Banner" style="width:100%;height:100%;background-size: cover;">
              </a>
            </div><!-- End .banner -->
          </div><!-- End .col-md-6 -->
          <div class="col-md-6 col-lg-4" >
            <div class="banner">
              <a [routerLink]="['/catalogues/5ff226a67c4efa103da87456/enseigne/monoprix']"   >
                <img src="../../assets/assets/images/image4.jpg" alt="Banner" style="width:100%;height:100%;background-size: cover;">
              </a>
            </div><!-- End .banner -->
          </div><!-- End .col-md-6 -->
          <div class="col-md-6 col-lg-4" >
            <div class="banner">
              <a [routerLink]="['/catalogues/5ff335477c4efa103da874b1/enseigne/LYNK MARTINIQUE']"  >
                <img src="../../assets/assets/images/image5.jpg" alt="Banner" style="width:100%;height:100%;background-size: cover;">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
